<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7,8,edge" />
<meta http-equiv="refresh" content="text/html;charset=UTF-8" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Shalimar&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/global/global.css" />
<link rel="stylesheet" href="/pages/Index/css/index.css" />
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script defer type="module" src="/global/global.js"></script>
<script defer type="module" src="/pages/Index/js/index.js"></script>
<title>Soap Works</title>
</head>
<body>
<%- include("../../partials/Header/Header.ejs") %>
<h1 class="heading">Soap Works</h1>
<p class="intro">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit qui quam nobis facilis ex necessitatibus optio harum laudantium eos repellat? Suscipit libero ullam adipisci. Mollitia alias nulla voluptas tempora distinctio!
</p>
<h2>Soaps</h2>
<section class="soaps">
<%soaps.forEach((soap) => {
%>
<div class="grid-item">
<img class="img" src="<%=soap.ImageUrl%>" alt="<%=soap.Title%>" />
<h2 class="title"><%=soap.Title%></h2>
<p class="price">
$<%=soap.Price%>
</p>
<p class="desc hidden">
<%=soap.Description%>
</p>
<ul class="ingredients hidden">
<%soap.Ingredients.forEach((ingredient)=> {
%>
<li>
<%=ingredient%>
</li>
<%
}) %>
</ul>
</div>
<%})%>
</section>
<h3 class="second-heading">Kits</h3>
<p class="intro">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nam impedit pariatur mollitia doloribus iure nesciunt architecto? Alias mollitia, qui quas eveniet tempora, quaerat quibusdam sed, nihil non et asperiores!
</p>
<h2>Kit Selections</h2>
<section class="kits">
<%kits.forEach((kit)=> {
%>
<div class="kit-item">
<img src="<%=kit.ImageUrl%>" alt="<%=kit.Title%>" />
<h2>
<%=kit.Title%>
</h2>
<p>
<strong><%=kit.Quantity%></strong> kits available
</p>
</div>
<%})%>
</section>
</body>
</html>