<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
  <meta name="description" content="natural homemade soap and hygenics products, kits, subscriptions & more!! Clean up with the best soap on the market" />
  <meta http-equiv="X-UA-Compatible" content="IE=7,8,edge" />
  <meta http-equiv="refresh" content="text/html;charset=UTF-8" />
  <link rel="shortcut icon" href="../../assets/images/logo.svg" type="image/x-icon">
  <link rel="stylesheet" href="/global/global.css" />
  <link rel="stylesheet" href="/pages/Index/css/index.css" />
  <script type="module" src="/global/global.js"></script>
  <script defer src="https://kit.fontawesome.com/a673862905.js" crossorigin="anonymous"></script>
  <script defer src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script defer src="/pages/Index/js/index.js"></script>
  <title>Soap Works - Live Your Healthiest Life</title>
</head>

<body>
  <%- include("../../partials/Header/Header.ejs") %>
  <%- include("../../partials/Cart/Cart.ejs") %>
  <div class="backdrop"></div>
  <section>
    <h1 class="heading">Soap Works</h1>
    <p class="intro">
      Welcome!! Please enjoy viewing these amazing products... Remember that all soap products that you see are made with 100% all natural ingredients! If you
      are a nature person, you will love what we have to offer.
    </p>
    <div class="top-right-pink"></div>
    <h2>Soaps</h2>
    <div class="soaps">
      <%soaps.forEach((soap)=> {
%>
      <a href="/soaps/<%=soap.Title%>">
        <div class="grid-item">
          <img src="<%=soap.ImageUrl%>" alt="<%=soap.Title%>" />
        </div>
      </a>
      <%})%>
    </div>
    <a href="/soaps" class="view-more">View More ...</a>
  </section>
  <section class="kits">
    <h3 class="second-heading">Kits</h3>
    <p class="intro">
      Check out our most popular kits, These kits include all of the necessary items one need for amazing hygiene, smooth skin and a perfect clean. View our kits and choose which one best fits you!
    </p>
    <h2>Kit Selections</h2>
    <div class="kit-item-container">
      <%kits.forEach((kit)=> {
%>
      <div class="kit-item">
        <a href="/kits/<%=kit.Title%>">
          <img src="<%=kit.ImageUrl%>" alt="<%=kit.Title%>" />
        </a>
        <div class="text-container">
          <div class="kit-text">
            <h2>
              <%=kit.Title%>
            </h2>
            <p><%=kit.Description%></p>
          </div>
          <button class="buy-btn">Add To Cart</button>
        </div>
      </div>
      <%})%>
    </div>
    <a href="/kits" class="view-more">View More ...</a>
  </section>
  <section class="subs">
    <h3 class="second-heading">Subscription Boxes</h3>
    <p class="intro">
      Introduce yourself to an entire buddle of the dream products you want in one single box. Skip the hassle of remembering every item you purchase and save big on our custom made completely catered to you subscription boxes. Choose the box you like the most, and choose from a veriety or subscriptions to have your new boxes delivered monthly, bi-monthly or once every three months!
    </p>
    <h2>Boxes</h2>
    <div class="sub-container">
      <%subs.forEach((sub)=> {
%>
      <div class="sub">
        <a href="/subscriptions/<%=sub.Title%>">
          <img src="<%=sub.ImageUrl%>" alt="">
        </a>
        <div class="sub-text">
          <div class="title-and-price">
            <h2>
              <%=sub.Title%>
            </h2>
            <p class="price">
              $<%=sub.Price%>
            </p>
          </div>
          <p>
            <%=sub.Description%>
          </p>
          <div class="sub-includes">
            <ul>
              <%sub.Included.forEach((item)=> { %>
              <li class="sub-item">
                <%=item%>
              </li>
              <%})%>
            </ul>
          </div>
        </div>
        <button class="buy-btn">Add To Cart</button>
      </div>
      <%})%>
    </div>
    <a href="/subscriptions" class="view-more">View More ...</a>
  </section>
  <%- include('../../partials/Contact/Contact.ejs')%>
  <%- include('../../partials/Footer/Footer.ejs') %>
</body>

</html>