<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7,8,edge" />
<meta http-equiv="refresh" content="text/html;charset=UTF-8" />
<link rel="stylesheet" href="/global/global.css" />
<link rel="stylesheet" href="/pages/FilteredProducts/css/filteredProducts.css" />
<script type="module" src="/global/global.js"></script>
<script defer src="pages/FilteredProducts/js/filteredProducts.js"></script>
<script src="https://kit.fontawesome.com/a673862905.js" crossorigin="anonymous"></script>
<title>Soap Works </title>
</head>

<body>
<%- include("../../partials/Header/Header.ejs") %>
<%- include("../../partials/Cart/Cart.ejs") %>
<div class="backdrop"></div>
<%products.forEach((product)=> {
%>
<div class="img-container">
<img class="bg-img" src="<%=product.ImageUrl%>" alt="product image" />
</div>
<%})%>
<section class="filter-section">
<%products.forEach((product)=> {
%>
<div class="product">
<div class="product-img">
<img src="<%=product.ImageUrl%>" alt="product image">
</div>
<div class="option-btns">
<div>
<button><i class="fa-solid fa-up-right-and-down-left-from-center" id="expand"></i></button>
</div>
<div>
<button><i class="fa-solid fa-images" id="image"></i></button>
</div>
<div>
<button><i class="fa-solid fa-list" id="list"></i></button>
</div>
<div>
<button><i class="fa-solid fa-circle-info" id="spec"></i></button>
</div>
</div>
<h2>
<%=product.Title%>
</h2>
<p class="quantity">
<%= product.Quantity ? product.Quantity: null%>
</p>
<p class="desc">
<%=product.Description%>
</p>
<p class="price">
$<%=product.Price%>
</p>
<button class="buy-btn">Add <strong>
<%=product.Title%>
</strong> To Cart</button>
<i class="fa-solid fa-share-nodes share"></i>
<div class="option-view">
<div id="lists" class="detail-ul-container">
</div>
<div id="images" class="detail-images"></div>
<div id="specs" class="detail-specs"></div>
</div>
</div>
<%})%>
</section>
<div class="footer-holder">
<%- include('../../partials/Contact/Contact.ejs')%>
<%- include('../../partials/Footer/Footer.ejs')%>
</div>
</body>

</html>