<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7,8,edge" />
<meta http-equiv="refresh" content="text/html;charset=UTF-8" />
<link rel="shortcut icon" href="../../assets/images/logo.svg" type="image/x-icon">
<link rel="stylesheet" href="/global/global.css" />
<link rel="stylesheet" href="/pages/FilteredProducts/css/filteredProducts.css" />
<script type="module" src="/global/global.js"></script>
<script defer src="pages/FilteredProducts/js/filteredProducts.js"></script>
<script src="https://kit.fontawesome.com/a673862905.js" crossorigin="anonymous"></script>
<title>Soap Works </title>
</head>

<body>
<%- include("../../partials/Header/Header.ejs") %>
<%- include("../../partials/Cart/Cart.ejs") %>
<div class="backdrop"></div>
<h1 class="filtered-title"></h1>
<section class="filter-section">
<%products.forEach((product)=> {
%>
<div class="product-information-container">
<i class="fa-solid fa-xmark"></i>
</div>
<div class="product">
<div class="product-img">
<img src="<%=product.ImageUrl%>" alt="product image">
</div>
<div class="option-btns">
<div id="expand">
<i class="fa-solid fa-up-right-and-down-left-from-center"></i>
</div>
<div id="image">
<i class="fa-solid fa-images"></i>
</div>
<div id="list">
<i class="fa-solid fa-list"></i>
</div>
<div id="spec">
<i class="fa-solid fa-circle-info"></i>
</div>
</div>
<div class="info-container">
	<div class="title-and-price">
    <h2>
    <%=product.Title%>
    </h2>
    <p class="price">
    $<%=product.Price%>
    </p>
	</div>
<p class="desc">
<%=product.Description%>
</p>
  <button class="buy-btn">Add To Cart</button>
</div>
</div>
<%})%>
</section>
<div class="footer-holder">
<%- include('../../partials/Contact/Contact.ejs')%>
<%- include('../../partials/Footer/Footer.ejs')%>
</div>
</body>

</html>